body {
    background-color: rgb(38, 27, 66);


    font-family: 'Source Sans Pro', sans-serif;


}


.bodyform {
    background-color: rgb(36, 36, 102);
    width: 70%;
    padding: 20px;
    align-items: center;
    border-radius : 10px;
}

.form {
    color: white;
}

form {
    text-align: center,
}

h1 {
    color: white;
}


h2 {
   text-align: center;
}